/* Style dasar yang digunakan semua halaman */
body {
    background-color: #f7f7f7;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Tombol aksi umum */
.aksi-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: transform 0.2s;
}

.aksi-btn:hover {
    transform: scale(1.2);
}